pre {
  width: 50%;
  font-size: 19px;
}
.code {
  text-align: -webkit-center;
}

.block {
  width: 80%;
  margin: 0 auto;
  text-align: -webkit-center;
}

.content {
  font-size: 22px;
  width: 80%;
  line-height: 163%;
}
